includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 3g
  paths:
    - app
  excludePaths:
    - ./app/Exceptions/Handler.php
  universalObjectCratesClasses:
    - Illuminate\Http\Resources\Json\JsonResource
    - Illuminate\Database\Eloquent\Model
# https://github.com/nunomaduro/larastan/issues/508#issuecomment-604320866

